node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.local
testdb.mjs
cookies.txt
android/.idea/workspace*.xml
android/.idea/misc-*.xml
android/signing.properties
*.jks
*.keystore
.tools/
